/*Giỏ hàng*/
#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

}
#cart-container table thead{
    font-weight: 700;

}
#cart-container table thead td{
    background: #9af4eb;
    color: #250505;
    border: none;
    padding: 6px 0;
    
}
#cart-container table td{
    border: 1px solid #b6b3b3;
    text-align: center;

}
#cart-container table td:nth-child(1){
    width: 100px;
}
#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 200px;
}
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5){
    width: 200px;
}